*{
    margin: 0;
    padding: 0;
}
body {
    width: 99%;
    height: 100vh;
    background:linear-gradient(180deg,rgb(10, 10, 10),rgba(255, 1, 1),rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: 900% 900%;
    position: relative;
    animation: fondo 6s ease infinite;
}

@keyframes fondo{
    0%{background-position: 0% 10%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 10%;}
}
